# Node/npm
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json.*.backup

# Build output
dist
public/bundle.*.js
bundle*.js
*.map

# Cache/temp
.cache
.tmp
coverage
*.tsbuildinfo
.browserslistrc

# IDE/system
.vscode
.idea
.DS_Store
Thumbs.db

# Logs
logs
*.log